/* all classess and ids that ends with "...-c" are custom made by developer  */

/* --------------------------------cover. banner and menu navigation */


  html,
  body,
  header,
  .view {
    height: 600px;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 600px;
    }
  }

 /* navbar */
.navbar-color-c {
    background-color: rgb(23 162 184 / 50%);
}

  .btn .fa {
    margin-left: 3px;
  }

  .top-nav-collapse {
    background-color: #424f95 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
   }
  }

  .btn-white {
    color: black !important;
  }

  h6 {
    line-height: 1.7;
  }

.cover-content-c{
    margin-top: 60px;
}

.img-fluid-c {
    max-width: 300px;
    height: auto;
    }

.image-genious-div-c {
    max-width: 300px;
    margin:auto;
    }

.font-banner-c {
    color: white;
}


    
/* --------------------------------cover. banner and menu navigation */