/* font for tittle subtitle*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Fonts for website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

#title-div {
    text-align: center;
}

#logo {
    height: 75px;
    vertical-align: text-bottom;
}

#site-title {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    display: inline-block;
    margin-top: 40px;
    padding-left: 5px;
    margin-bottom: 10px;
    
}

#site-subtitle {
    font-size: 30px;
    margin-top: 1px;
    letter-spacing: 5px;}

    /* Banner or cover */

.banner {
    background-image: url("../images/cover-trees.jpg");
    width: 100%
}